[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gemini"]
	path = gemini
	url = https://github.com/sellerslab/gemini
	shallow = true
	registered = true
